language: go

sudo: false

matrix:
  include:
    - go: 1.7
    - go: 1.8
    - go: 1.9
    - go: 1.10
    - go: 1.x
    - go: master
  allow_failures:
    - go: master

install: make install

script: make test
